@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
  --font-noto-sans-jp: "Noto Sans JP", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-mono), monospace;
  font-weight: 300;
}

html[lang="jp"] body {
  font-family: var(--font-noto-sans-jp), sans-serif;
  font-weight: 300;
}

nav {
  font-family: var(--font-ibm-plex-mono), monospace;
  font-weight: 300;
}

html[lang="jp"] nav {
  font-family: var(--font-noto-sans-jp), sans-serif;
  font-weight: 300;
}

nav a {
  color: #ffffff;
}

nav a:hover {
  color: #9ca3af;
}

mux-player {
  --controls: none;
}